<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
    <table>
        {% for Locacao in locacoes %}
        <tr>
            <td>{{ Locacao.nome }}</td>
            <td>{{ Locacao.data }}</td>
            <td>{{ Locacao.cliente }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>